<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<%for(var e in data){
    var rid = encodeURIComponent(data[e]['@rid']);
%>
    <a href="/topic/<%=rid%>"><p><%=data[e].title%></p></a>
    <p><%=data[e].description%></p>
    <p>---------------------</p>
<%}%>
</body>
</html>
