<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><%=data.title%></p>
<p><%=data.description%></p>
<a href="/topic"><p>목록</p></a>

</body>
</html>